# =============================
# NetBeans
# =============================
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# =============================
# Build
# =============================
build/
dist/

# =============================
# Java
# =============================
*.class

# =============================
# NetBeans cache
# =============================
.netbeans_automatic_build
.netbeans_update_resources

# =============================
# Logs
# =============================
*.log
